:root {
  --background: #0c0a09;
  --text: #fef0b9;
  --text-secondary: #fde68a;
  --accent: #facc15;
  --accent-hover: #e1b813;
  --accent-dark: #3c310b;
}

* {
  box-sizing: border-box;
}

::selection {
  color: var(--accent-dark);
  background: var(--accent-hover);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Quicksand", sans-serif;
  background-image: url(assets/bg-bottom.svg), url(assets/bg-top.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 60%;
}

.start-screen,
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.start-screen {
  align-items: center;
}

.start-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 0.35em;
}

.start-screen p {
  font-size: 1.25rem;
  margin: 0 auto 2em;
  color: var(--text-secondary);
}

.start-btn,
.check-btn {
  font-family: inherit;
  border: none;
  border-radius: 15px;
  background-color: var(--accent);
  color: var(--accent-dark);
  cursor: pointer;
}

.start-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.8em 2.4em;
}

.start-btn:hover,
.check-btn:hover {
  background-color: var(--accent-hover);
}

.quiz-container {
  max-width: max(60%, 600px);
  padding: 0 2em;
  margin: 2em auto 3em;
}

.question-container {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--accent-dark);
}

.question {
  font-size: 1.25rem;
  font-weight: 700;
}

.answer {
  font-family: inherit;
  font-weight: 500;
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 12px;
  padding: 0.5em 1em;
  margin: 0 0.75em 0.75em 0;
  cursor: pointer;
}

.answer:not(#correct, #incorrect, #non-selected):hover,
.selected {
  background-color: var(--accent-dark);
  border-color: var(--accent-dark);
}

#correct,
#incorrect,
#non-selected {
  cursor: not-allowed;
}

#correct {
  background-color: #004c00;
  border-color: #004c00;
}

#incorrect {
  background-color: #4c0000;
  border-color: #4c0000;
  opacity: 0.5;
}

#non-selected {
  opacity: 0.3;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 2em;
}

.score {
  font-weight: 700;
  color: var(--text-secondary);
}

.check-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8em 1.6em;
  z-index: 10;
}

.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media (max-width: 500px) {
  body {
    background-size: 100%;
  }

  .result {
    flex-direction: column;
    gap: 1.5em;
  }
}
